@import nib

backColor = #FF851B
mainColor = #ffea6f

html
  font-family Helvetica, Arial, sans-serif
  color mainColor

*
  -webkit-user-drag none

body
  -webkit-user-callout none
  user-select none
  background-color backColor
